.btn
    &:link, &:visited
        display: inline-block
        padding: 1.4rem 9.1rem
        background-color: $color-main
        font-size: 3.2rem
        line-height: 3.2rem
        font-weight: 800
        text-transform: uppercase
        transition: all .3s ease-in-out
        border-radius: 13rem
        color: $color-white
    &:hover
        transform: translateY(-0.4rem)
        box-shadow: $box-shadow
    &:active
        transform: translateY(-.2rem)
        box-shadow: $box-shadow

        

@media all and ( max-width: 768px )
    .btn
        &:link, &:visited
            padding: 1.4rem 4.7rem
            font-size: 2.4rem
            line-height: normal
    